body {
    background: url('/img/moon.jpg'), rgba(0, 0, 0, 0.5); /* Defina os valores RGBA corretamente */
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px );
    }
}